*{
    align-content: center;
    align-items: center;
    margin-top: 0;
}
header{
    margin: 0;
    background-color: teal;
    font-size: 10px;
    border: solid teal;
    height: auto;
}
header h1{
    margin-top: 0;
    padding: 0;
    height: 1em;
    text-align: left;
}
body{
    margin-left: 8em;
    margin-right: 8em;
    background-color:cornsilk;
    border: solid 1em teal;
    margin: solid 2em teal;
    align-content: center;
    position: relative;
}
footer{
    background-color: teal;
    display: flex;
    text-align: justify;
    
    font-size: large;
}
footer ul{
    list-style: none;
    margin: 0;
}
#principal{
    padding: 0;   
    margin: auto;
    align-content: center;
    display: flex;
}
#container{
    background-color: cornflowerblue;
    border: solid 1em cornflowerblue;
}
#container h1{
    margin: 0;
    margin-bottom: 15px;
}

#principal img{
    width: 50%;
    float: left;
    margin-right: 50px;
    height: 250px;
}
#principal p{
    margin-top: -5px;
    width: 50%;
    text-align: justify;
    font-size: 1.5em;
}
p{
    text-align: center;
}
h1{
    text-align: center; 
}

#pasatiempos{
    background-color: cornflowerblue;
}
#container #pasatiempo{
    background-color: cornflowerblue;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    
}
#title_pa{
    background-color: cornflowerblue;
    padding: 0px;
    margin: 0;
}
#container #pasatiempo li{
    list-style: none;
    margin-bottom: 2em;
    margin-right: 4em;
    font-size: larger;
}
#container #pasatiempo li img{
    width: 350px;
    height: 350px;
    margin-left: 2em;
    justify-content: center;
    
}

#estudios{
    width: 90%;
    height: 90%;
    border: 2px;
    margin: 3em; 
}
#perfil_academico{
    background-color: cadetblue;
}
#perfil{
    background-color: cornflowerblue;
    border:black 2px solid;
}
#perfil h1{
    font-size: 2em;
}
#tabla{
    border-collapse: collapse;
    width: 1000px;
    margin: auto;
    align-items: center;
    align-content: center;
    padding: 1em;
    height: 400px;
}
#formulario{
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 2em;
}
#enlaces{
    list-style: none;
    padding: 0;
    margin:auto;
    background-color: rgb(44, 107, 201);
}
#enlaces li {
    display: inline-block;
    text-align: center;
}
#enlaces li a{
    text-decoration:none;
    padding: 20px;
    display: block;
    color: white;
    font-size: 2em;
}
#enlaces li a:hover{
    background:darkblue;
}
#formulario{
    padding: 0px;
    background-color:cornflowerblue ;
    align-content: center;
    justify-content: center;
    border: solid 1em teal;
}
#formulario input{
    width: 20%;
    height: 2em;
    font-size: medium;
    align-content: center;
    justify-content: center;
    background-color:gainsboro;
}
#formulario p #boton{
    background-color:darkblue;
    font-size: large;
    width: 5em;
}
#intereses iframe{
    width: 800px;
    height: 500px;
    margin: auto;
    display: block;
    align-content: center;
    border:none;
}
table, th, td {
    border: 1px solid black;
    
}
#intereses{
    color:black;
    font-size: 1em;
    background-color: teal;
}
#proyecto{
    background-color:cornflowerblue ;
    font-size: 2em;
    border: solid 1em cornflowerblue;
}

